{% extends 'template.html.twig' %}

{% block body %}

<div class="alert alert-success">
    {{ personne.firstname }} {{ personne.name }} à {{ personne.age }} ans
    {% if app.user %}
         <p>Created By : {{ app.user.email }}</p>
    {% endif %}
</div>
{% endblock %}

{% block title %}
    {{ personne.firstname }} {{ personne.name }}
{% endblock %}
